@using CelebrationRegister.Data.Entities.Role
@model CelebrationRegister.Data.Entities.Role.Role

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_DefaultLayout.cshtml";
    var permissions = ViewData["Perimmsions"] as List<Permission>;
    var selectedPermissions = ViewData["selectedPermissions"] as List<PermissionRole>;
}

<h1>Edit</h1>

<h4>Role</h4>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />
            <div class="form-group">
                <label asp-for="RoleTitle" class="control-label"></label>
                <input asp-for="RoleTitle" class="form-control" />
                <span asp-validation-for="RoleTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        
        <div class="col-md-4">
            <ul>

                @foreach (var item in permissions.Where(p => p.ParentId == null))
                {
                    <li>
                        <input class="checkbox-inline" @((selectedPermissions.Any(s=>s.PermissionId == item.PermissionId)) ? "checked" :"") value="@item.PermissionId" type="checkbox" name="selectedPermissions"/>
                        @item.PermissionTitle
                    </li>
                    @if (permissions.Any(p => p.ParentId == item.PermissionId))
                    {
                        <ul>
                            @foreach (var sub in permissions.Where(p => p.ParentId == item.PermissionId))
                            {
                                <li>
                                    <input class="checkbox-inline" @((selectedPermissions.Any(s=>s.PermissionId == sub.PermissionId)) ? "checked" :"") value="@sub.PermissionId" type="checkbox" name="selectedPermissions"/>
                                    @sub.PermissionTitle
                                </li>
                            }
                        </ul>
                    }
                }
            </ul>
        </div>

    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
